[Unit]
Description=server - run nodejs server
After=network.target

[Service]
User=www-data
EnvironmentFile=/home/ubuntu/secrets.env
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/server
TimeoutStartSec=300

ExecStart=/usr/local/bin/node server/app.js
ExecStop=/bin/rm /home/ubuntu/socket/server.sock

[Install]
WantedBy=default.target
